{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}


<section class="galeria">
    <div class="card">
        <div class="card-header">
          <h5>Cadastro de Usuário</h5>
        </div>
        <div class="card-body form-group">

    <form action="" method="">
        <div class="row">
            <div class="col-12 col-lg-12">
                <label for="nome_cadastro">Nome completo</label>
                <input type="text" class="form-control" name="nome_cadastro" placeholder="" required>
            </div>
            <div class="col-12 col-lg-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="" required>
            </div>
            <div class="col-12 col-lg-6" >
                <label for="password1">Senha</label>
                <input type="password" class="form-control" name="password1" placeholder="" required>
            </div>
            <div class="col-12 col-lg-6">
                <label for="password2" >Confirmação de senha</label>
                <input type="password" class="form-control" name="password2" placeholder="" required>
            </div>
            <div class="col-12 text-center my-3">
                <button class="btn btn-success col-6" type="submit">Criar sua conta</button>
            </div>
        </div>
    </form>
</div>
</div>
</section>


{% endblock %}

{% include 'galeria/_footer.html' %}
