{% load static %}

</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white bg-dark small">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <div class="col-lg-1 col-md-6 mb-4 mb-md-0 text-center">

            </div>

            <div class="col-lg-1 col-md-6 mb-4 mb-md-0 text-center">
              <h5>Menu</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="{% url 'login' %}" class="text-white">Login</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Sobre</a>
                </li>
              </ul>
            </div>            

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                <img 
                
                src="{% static 'assets/imagens/galeria/logo_aida_img_nobg.png' %}" 
                alt=""
                title="Análise de Indícios de Desonestidade Acadêmica em Imagens"
                >
            </div>



            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                <img src="{% static 'assets/imagens/galeria/ufrgs.png' %}" class="img-thumbnail">
                <p>Universidade Federal do Rio Grande do Sul</p>
            </div>
  
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0  text-center">
                
                <img src="{% static 'assets/imagens/galeria/pgie.png' %}" class="img-thumbnail">
                <p>Programa de Pós-Graduação Informática em Educação</p>
            </div>


          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="mb-4" />
  
      
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
