{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}



{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Campo para selecionar várias imagens -->
    <br>
    
    
</form> {% endcomment %}




<div class="card">
    <div class="card-header">
        <h5>Importar SQL</h5>
    </div>
    <div class="card-body form-group">
        <p>&nbsp;</p>
        <form method="post" action="{% url 'galeria-import-sql' %}">
            {% csrf_token %}
            <textarea name="sql_data" cols="100" rows="20" placeholder="Cole o SQL aqui..."></textarea>
            <br>
            <button type="submit">Importar</button>
        </form>
    </div>
  </div>


{% endblock %}
