{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}
              <h5>Imagens do Curso: {{ curso.0.nome }}  </h5>
              {% if not imagens_curso %}
                  <p>Não há imagens para este curso.</p>
              {% else %}
              <div class="album py-5 bg-body-tertiary">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
                  
                  {% for imagem_curso in imagens_curso %}
                  
                    <div class="col">
                      <div class="card shadow-sm">
                          <title></title>
                          {% comment %} <rect width="100%" height="100%" fill="#55595c"/> {% endcomment %}
                          <img src="{{imagem_curso.imagem.url}}" class="img-thumbnail" alt="...">
                          <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ imagem_curso.nome_arquivo }}</text>
                        <div class="card-body">
                          <p class="card-text"></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-body-secondary"></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}                  
                  















            <section class="conteudo">
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo"></h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.0.id %}">
                                    {% if fotografia.foto == "" or fotografia.0.foto == null %}
                                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
                                    {% else %}
                                        <img class="card__imagem" src="{{fotografia.0.foto.url}}" alt="foto">                                    
                                    {% endif %}
                                </a>
                                {% if fotografia.1 == True %}
                                <p>Cor Única</p>
                                {% else %}
                                <p>Várias Cores</p>
                                {% endif %}
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
</div>

{% endblock %}
