{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}
              <h5>Imagens do Curso: {{ curso.0.nome }}  </h5>
              <p>&nbsp;</p>
              <a type="button" class="btn btn-success" href="{%url 'galeria-upload' %}">Enviar imagens</a>
              <a class="btn btn-secondary" href="{% url 'cursos' %}">Voltar</a>
              {% if not imagens_curso %}
                  <p>Não há imagens para este curso.</p>
              {% else %}
              <div class="album py-5 bg-body-tertiary">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
                  
                  {% for imagem_curso in imagens_curso %}
                  
                    <div class="col">
                      <div class="card shadow-sm">
                          <title></title>
                          {% comment %} <rect width="100%" height="100%" fill="#55595c"/> {% endcomment %}
                          <img src="{{imagem_curso.imagem.url}}" class="img-thumbnail" alt="...">
                          <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ imagem_curso.nome_arquivo }}</text>
                        <div class="card-body">
                          <p class="card-text"></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-body-secondary"></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}                  
                  
{% endblock %}
