{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}

<style>
  .loading-icon {
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s linear infinite;
    margin-right: 10px;
    display: inline-block;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .progress-bar-container {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    align-items: center; /* Centraliza o ícone de carregamento verticalmente */
  }
  
  .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 2s, background-color 2s;
  }
  
  
  
  
  
  


  
</style>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>


{% comment %} INICIO DADOS DO CURSO {% endcomment %}

              {% comment %} <a class="btn btn-secondary" href="{% url 'cursos' %}">Voltar</a> {% endcomment %}
              <div class="card shadow-sm">  
                <div class="card-body">
                {% comment %} <label for=""><h6>Curso</h6></label> {% endcomment %}
                <h5> {{ curso.0.nome }}  </h5>
                {% if curso.0.imagens_esperadas %}
                
                <label for=""><h6>Imagens esperadas: </h6></label>
                <span> {{ curso.0.imagens_esperadas }}  </span>
                {% endif %}
              </div>
              </div>
{% comment %} FIM DADOS DO CURSO {% endcomment %}

              <p>&nbsp;</p>



{% comment %} INICIO RESUMO CURSO {% endcomment %}



              {% if imagens_curso %}

              <div class="card shadow-sm">  
                <div class="card-body">

                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="home" aria-selected="true">Gráficos da Análise</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="profile" aria-selected="false">Resumo da Análise</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="contact" aria-selected="false">Comparação Sistema e Professor</button>
                    </li>
                  </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                      <div class="col-md-6">
                        <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                      </div>
                      <div class="col-md-6">
                        <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
                    <p>&nbsp;</p>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Tipo</th>
                              <th scope="col" class="text-center">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>Imagens</th>
                              <td class="text-center">{{dados_curso.total}}</td>
                            </tr>
                            <tr>
                              <th>Normal</th>
                              <td class="text-center">{{dados_curso.total_normal}} ({{dados_curso.porc_normal}}%)</td>
                            </tr>
                            <tr>
                              <th>Normal Esperado</th>
                              <td class="text-center">{{dados_curso.total_normal_esperado}}</td>
                            </tr>
                            <tr>
                              <th>IDA</th>
                              <td class="text-center">{{dados_curso.total_ida}} ({{dados_curso.porc_ida}}%)</td>
                            </tr>
                            <tr>
                              <th>IDA Monocromático</th>
                              <td class="text-center">{{dados_curso.total_ida_mono}}</td>
                            </tr>
                            <tr>
                              <th>IDA Cópia</th>
                              <td class="text-center">{{dados_curso.total_ida_copia}}</td>
                            </tr>
                            <tr>
                              <th>IDA Cópia Web</th>
                              <td class="text-center">{{dados_curso.total_ida_copia_web}}</td>
                            </tr>
                            <tr>
                              <th>IDA Classificada (IA)</th>
                              <td class="text-center">{{dados_curso.total_ida_class}}</td>
                            </tr>

                        </tbody>
                        </table>
                      </div>
                      <div class="col-12 col-md-6">
                        <p>&nbsp;</p>
                                                  
                      </div>
                    </div>










                  </div>
                  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">
                      <p>&nbsp;</p>
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col" class="text-center">Análise Sistema</th>
                                <th scope="col" class="text-center">Análise Professor</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Normal</th>
                                <td class="text-center">{{dados_curso.total_normal}}</td>
                                <td class="text-center">{{dadosComparaSisProf.normal_prof}}</td>
                              </tr>
                              <tr>
                                <th>Normal Esperado</th>
                                <td class="text-center">{{dados_curso.total_normal_esperado}}</td>
                                <td class="text-center">{{dadosComparaSisProf.normal_esperado_prof}}</td>
                              </tr>
                              <tr>
                                <th>Monocromático</th>
                                <td class="text-center">{{dados_curso.total_ida_mono}}</td>
                                <td class="text-center">{{dadosComparaSisProf.mono_prof}}</td>
                              </tr>
                              <tr>
                                <th>Cópia</th>
                                <td class="text-center">{{dados_curso.total_ida_copia}}</td>
                                <td class="text-center">{{dadosComparaSisProf.copia_prof}}</td>
                              </tr>
                              <tr>
                                <th>Cópia Web</th>
                                <td class="text-center">{{dados_curso.total_ida_copia_web}}</td>
                                <td class="text-center">{{dadosComparaSisProf.copia_web_prof}}</td>
                              </tr>
                              <tr>
                                <th>Total de imagens</th>
                                <td class="text-center" colspan="2">{{dados_curso.total}}</td>
                              </tr>
                              <tr>
                                <th>Análise Sistema igual Análise Professor</th>
                                <td class="text-center" colspan="2">{{dadosComparaSisProf.iguais}}</td>
                              </tr>
                          </tbody>
                          </table>
                        </div>
                        <div class="col-12 col-md-6">
                          <p>&nbsp;</p>
                                                    
                        </div>
                      </div>




                  </div>
                </div>
                
                
                
                
              </div>
            </div>
{% comment %} FIM RESUMO CURSO {% endcomment %}

              <p>&nbsp;</p>




{% comment %} INICIO BOTÃO ANALISAR {% endcomment %}
              {% endif %}
              <div class="card shadow-sm">
                <div class="card-body">
              <h6></h6>
              <div>
              <input type="checkbox" id="checkbox_ia">
              <label for="checkbox_ia">Usar Inteligência Artificial (IA) na Análise</label>
              </div>
               
              {% comment %} <a class="btn btn-danger" href="{%url 'galeria-imagem-delete-all' %}">Excluir todas as imagens</a>     {% endcomment %}
              <a id="btn_analisarIDA" href="" class="btn btn-success">Analisar IDA</a> <div class="loading-icon" id="divloadicon" style="display: none"></div>
              {% comment %} <a id="btn_analisarIDA" href="{%url 'galeria-identificarIDANoWS' %}" class="btn btn-success">Analisar IDA</a>  {% endcomment %}
              
              <div id="progresso-analisarIDA" class="text-success"></div>
              <div class="progress-container" style="display: none">
             
                <div class="progress-bar-container">
                  <div class="progress-bar" id="progress-bar"></div>
                </div>
              
            
              </div>      
            </div>
            </div>   

{% comment %} FIM BOTÃO ANALISAR {% endcomment %}            

              <p>&nbsp;</p>




{% comment %} INICIO LISTAGEM IMAGENS {% endcomment %}              

              <div class="card shadow-sm">
                <div class="card-body">
                  <div>
                  <a class="btn btn-secondary" href="{%url 'galeria-upload' %}">Enviar imagens...</a>
                  </div>
                <label for=""><h6>Imagens do Curso</h6></label>
              
              
              {% if not imagens_curso %}
                  <p>Não há imagens para este curso.</p>
              {% else %}
              <div class="album py-5 bg-body-tertiary">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
                  
                  {% for imagem_curso in page_obj  %}
                    <div class="col">
                      <div class="card shadow-sm">
                          <title></title>
                          {% comment %} <rect width="100%" height="100%" fill="#55595c"/> {% endcomment %}
                          <small><small class="d-flex justify-content-center" title="{{ imagem_curso.nome_arquivo }}">
                            <b>{{ imagem_curso.id }}</b> - 
                            {% if imagem_curso.nome_arquivo|length > 20 %}
                                {{ imagem_curso.nome_arquivo|slice:":20" }}...
                            {% else %}
                                {{ imagem_curso.nome_arquivo }}
                            {% endif %}
                        </small></small>
                        
                          <img src="{{imagem_curso.imagem.url}}" class="img-thumbnail" alt="..." title="{{ imagem_curso.nome_arquivo }}">
                          <div class="row">
                            <div class="col-md-12">
                          {% if imagem_curso.class_sis == 'Normal' or imagem_curso.class_sis == 'Normal Esperado' %}
                          <span class="badge rounded-pill bg-success">{{imagem_curso.class_sis}}</span>
                          {% endif %}
                          {% if imagem_curso.class_sis == None %}
                          <span class="badge rounded-pill bg-secondary">Não analisado</span>
                          {% endif %}
                          {% if imagem_curso.class_sis == 'IDA Mono' or imagem_curso.class_sis == 'IDA Cópia' or imagem_curso.class_sis == 'IDA Cópia Web' or imagem_curso.class_sis == 'IDA Class' %}
                            <span class="badge rounded-pill bg-danger">{{imagem_curso.class_sis}}</span>
                            {% comment %} {% if imagem_curso.class_sis == 'IDA Cópia'  %}
                              {{imagem_curso.obs_class_sis}}
                            {% endif %} {% endcomment %}
                          {% endif %}
                          {% if imagem_curso.class_sis == 'IDA Cópia Web' %}
                              <a href="{{imagem_curso.obs_class_sis}}" class="btn btn-link btn-sm" target="_blank">Ver original</a>
                          {% endif %}                               
                        </div>
                        </div>
                          {% comment %} <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ imagem_curso.nome_arquivo }}</text> {% endcomment %}
                        <div class="card-body">
                          {% comment %} <p class="card-text"></p> {% endcomment %}

                          <div class="card">
                            <div class="card-body">
                              <label class="small" id="class_prof_label{{ imagem_curso.id }}" for="class_prof">Class. Prof.</label>
                              <select name="class_prof" class="form-select form-select-sm" data-imagem-id="{{ imagem_curso.id }}">
                                <option value=""></option>
                                <option value="Normal" {% if imagem_curso.class_prof == "Normal" %}selected{% endif %}>Normal</option>
                                <option value="Normal Esperado" {% if imagem_curso.class_prof == "Normal Esperado" %}selected{% endif %}>Normal Esperado</option>
                                <option value="IDA Mono" {% if imagem_curso.class_prof == "IDA Mono" %}selected{% endif %}>Monocromático</option>
                                <option value="IDA Cópia" {% if imagem_curso.class_prof == "IDA Cópia" %}selected{% endif %}>Cópia</option>
                                <option value="IDA Cópia Web" {% if imagem_curso.class_prof == "IDA Cópia Web" %}selected{% endif %}>Cópia Web</option>
                              </select>
                            </div>
                          </div>

                          &nbsp;
                          
                          <div class="d-flex justify-content-end">
                            <div class="btn-group">
                              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button> {% endcomment %}
                              <a href="/galeria-imagem-delete/{{ imagem_curso.id }}" class="btn btn-sm btn-outline-danger">Excluir</a>
                            </div>
                            {% comment %} <small class="text-body-secondary"></small> {% endcomment %}
                          </div>
                          &nbsp;


                        </div>
                        
                        
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>


                <p>&nbsp;</p> 
                <p>&nbsp;</p> 
                

                <!-- Navegação de páginas -->
                <div class="pagination justify-content-center">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1">&laquo; primeira</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <span class="page-link">&laquo; primeira</span>
                          </li>
                          <li class="page-item disabled">
                              <span class="page-link">anterior</span>
                          </li>
                      {% endif %}
              
                      <!-- Links para cada página -->
                      {% for num in page_obj.paginator.page_range %}
                          {% if num == page_obj.number %}
                              <li class="page-item active">
                                  <span class="page-link">{{ num }}</span>
                              </li>
                          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
              
                      {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}">próxima</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <span class="page-link">próxima</span>
                          </li>
                          <li class="page-item disabled">
                              <span class="page-link">última &raquo;</span>
                          </li>
                      {% endif %}
                  </ul>
              </div>
              
              


                {% endif %}                  
              </div>
                </div>

                

{% comment %} FIM LISTAGEM IMAGENS {% endcomment %}              

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                {% comment %} <script>
//botao identificarIDA sem WS                  
                  document.addEventListener("DOMContentLoaded", function() {
                      var form = document.getElementById("btn_analisarIDA");
                      var mensagem = document.getElementById("divloadicon");
                      form.addEventListener("click", function(event) {
                          mensagem.style.display = 'inline-block';
                          $('#progresso-analisarIDA').text("Aguarde.. analisando imagens");
                      });
                  });
                  </script> {% endcomment %}




               
                <script>
//ws analisa ida                  
                  $(document).ready(function() {
                    // Função para enviar uma mensagem para iniciar a tarefa
                    $('#btn_analisarIDA').click(function(e) {
                        e.preventDefault(); // Previne o comportamento padrão do link
                        var input_checkbox = document.getElementById('checkbox_ia');
                        var checkbox = ""
                        if (input_checkbox.checked) {
                          checkbox = "s/";
                        } else {
                          checkbox = "n/"
                        }

                        if (window.location.protocol === "https:") {
                          var socket = new WebSocket("wss://{{ request.get_host }}/progress/{{ curso.0.id }}/"+checkbox);
                        } else {
                          var socket = new WebSocket("ws://{{ request.get_host }}/progress/{{ curso.0.id }}/"+checkbox);
                        }
                        socket.onmessage = function(event) {
                          var data = JSON.parse(event.data);
                          $('.progress-container').css('display','block');
                          $('#divloadicon').css('display','inline-block');
                          //console.log(event.data);
                          if(data.message=="Fim") {
                            var progressContainer = document.querySelector('.progress-container');
                            progressContainer.style.display = 'none';
                            // Redirecionar para uma URL específica
                            window.location.href = "http://{{ request.get_host }}/galeria-identificarIDA";

                            socket.disconnect();
                          } else {
                            $('#progresso-analisarIDA').text("Aguarde... analisando imagens: "+data.message);
                            let vetor = data.message.split(" ");
                            let porcentagem = 1/vetor[2]*100;
                            updateProgressBar(porcentagem)
                          }
                        };
                        socket.onclose = function(event) {
                          //$('#progresso-analisarIDA').text(data.message);
                        };

                      function updateProgressBar(newPercentage) {
                        var progressBarContainer = document.querySelector('.progress-bar-container');
                        var progressBar = document.getElementById('progress-bar');
                      
                        var currentPercentage = parseFloat(progressBar.style.width) || 0;
                        var totalPercentage = currentPercentage + newPercentage;
                      
                        if (totalPercentage > 100) {
                          totalPercentage = 100;
                        }
                      
                        var animationDuration = 3000; // 2000 milissegundos = 2 segundos
                        var startTime = performance.now();
                      
                        function animateWidth() {
                          var currentTime = performance.now();
                          var elapsed = currentTime - startTime;
                          var progress = elapsed / animationDuration;
                      
                          if (progress > 1) {
                            progress = 1;
                          }
                          
                          //console.log("new "+newPercentage)
                          //console.log("cur "+currentPercentage)
                          //console.log("pro "+progress)
                          //console.log("tot "+totalPercentage)
                          //progressBar.style.width = (currentPercentage + (totalPercentage - currentPercentage) * progress) + '%';
                          progressBar.style.width = totalPercentage + '%';
                      
                          if (progress < 1) {
                            requestAnimationFrame(animateWidth);
                          } else {
                            // Oculta a div quando a animação estiver concluída
                            // progressBarContainer.style.display = 'none';
                          }
                        }
                      
                        animateWidth();
                      
                        //progressBarContainer.style.display = 'flex';
                      }
                      
                      function animateColor() {
                        var progressBar = document.getElementById('progress-bar');
                        var currentPercentage = parseFloat(progressBar.style.width) || 0;
                        var color = getColorForPercentage(currentPercentage);
                        progressBar.style.backgroundColor = color;
                      
                        requestAnimationFrame(animateColor);
                      }
                      
                      function getColorForPercentage(percentage) {
                        var hue = ((percentage / 100) * 120).toString(10);
                        return 'hsl(' + hue + ', 100%, 50%)';
                      }
                      
                      animateColor(); // Inicia a animação de cor
                        });
                });
                
              </script>


              <script>
//graficos                
                const xValues = ["Normal", "IDA"];
                const yValues = [
                                {{dados_curso.total_normal}}, 
                                {{dados_curso.total_ida_copia}}+{{dados_curso.total_ida_mono}}+{{dados_curso.total_ida_copia_web}}+{{dados_curso.total_ida_class}}];
                const barColors = [
                "#008000",
                "#FF0000",
                  
                ];
                
                new Chart("myChart1", {
                  type: "pie",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: "Indícios de Desonestidade Acadêmica (IDA)"
                    }
                  }
                });
                </script>   
                
                <script>
                  const xValues2 = ["Normal", "Cópia", "Cópia Web", "Mono", "Classificada (IA)"];
                  const yValues2 = [
                                    {{dados_curso.total_normal}}, 
                                    {{dados_curso.total_ida_copia}}, 
                                    {{dados_curso.total_ida_copia_web}}, 
                                    {{dados_curso.total_ida_mono}},
                                    {{dados_curso.total_ida_class}}
                                  ];
                  const barColors2 = [
                  "#008000",
                  "#808080",
                  "#000000",
                  "#ffc0cb",
                  "#FFA500 ", 
                  ];
                  
                  new Chart("myChart2", {
                    type: "pie",
                    data: {
                      labels: xValues2,
                      datasets: [{
                        backgroundColor: barColors2,
                        data: yValues2
                      }]
                    },
                    options: {
                      title: {
                        display: true,
                        text: "Detalhes IDA"
                      }
                    }
                  });
                  </script>

                  <script>
                    $(document).ready(function() {
                      // Cria uma nova conexão WebSocket
                      const socket2 = new WebSocket('ws://localhost:8000/ws/update_class_prof/');
                  
                      // Função para tratar mensagens recebidas do servidor
                      socket2.onmessage = function(e) {
                        const data = JSON.parse(e.data);
                        console.log(data.message);  // ou atualize a UI conforme necessário
                  
                        // Verifique se a mensagem de sucesso foi recebida
                        if (data.status === 'success') {
                          // Encontre a label associada ao select
                          nome_label = '#class_prof_label'+ data.imagem_id;
                          const labelElement = $(nome_label);
                          
                          // Atualize o texto da label
                          if (!labelElement.text().includes('(Salvo)')) {
                            labelElement.text(labelElement.text() + ' (Salvo)');
                          }
                        }
                      };
                  
                      // Adiciona o evento 'change' ao select
                      $('.form-select').change(function(e) {
                        // Função para enviar dados ao servidor quando a seleção é alterada
                        function enviarAtualizacao(selectElement) {
                          const imagemId = $(selectElement).data('imagem-id');
                          const classProf = $(selectElement).val();
                  
                          // Envia os dados como um objeto JSON
                          socket2.send(JSON.stringify({
                            'imagem_id': imagemId,
                            'class_prof': classProf
                          }));
                        }
                  
                        // Chama a função para enviar os dados ao servidor
                        enviarAtualizacao(this);
                      });
                    });
                  </script>
                  
                  




              {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
                let eventSource;
                const sseData = document.getElementById('sse-data');
            
                function startSSE() {
                    eventSource = new EventSource('/galeria-identificarIDA');
                    eventSource.onmessage = event => sseData.innerHTML += event.data + '<br>';
                    document.querySelector('button[onclick="startSSE()"]').disabled = true;
                    document.querySelector('button[onclick="stopSSE()"]').disabled = false;
                }
            
                function stopSSE() {
                    if (eventSource) {
                      eventSource.close();
                    }
                    document.querySelector('button[onclick="startSSE()"]').disabled = false;
                    document.querySelector('button[onclick="stopSSE()"]').disabled = true;
                }
            </script> {% endcomment %}
            
              {% comment %} <script>
                function connectToWebSocket() {
                    var socket = new WebSocket("ws://{{ request.get_host }}/progress/");
            
                    socket.onopen = function(event) {
                        console.log("Conexão WebSocket estabelecida.");
                        callDjangoView();
                    };
            
                    socket.onerror = function(error) {
                        console.error("Erro na conexão WebSocket:", error);
                    };
            
                    socket.onmessage = function(event) {
                        console.log('Mensagem recebida do WebSocket:', event.data);
                    };
                }
            
                function callDjangoView() {
                    console.log('Chamando a view do Django...');
                    fetch('/galeria-identificarIDA')
                        .then(response => response.text())
                        .then(data => console.log('Resposta da view do Django:', data))
                        .catch(error => console.error('Erro ao chamar a view do Django:', error));
                }
            
                connectToWebSocket();
            </script> {% endcomment %}
            
              


              
              {% comment %} <script>

              
                  var socket = new WebSocket("ws://{{ request.get_host }}/progress/");
                  $('#progress-text').text('Conectado');
                  socket.onmessage = function(e) {
                      console.log('teste')
                      var progress = parseInt(e.data);
                      console.log(progress)
                      // Atualize a barra de progresso na sua interface com base no valor de 'progress'
                      $('#progress-text').text('Progresso: ' + progress);
                  };
                </script> {% endcomment %}

 


{% comment %} 
$(document).ready(function() {
  $('#btn_analisarIDA').click(function() {
      $.ajax({
          url: 'galeria-identificarIDA',
          type: 'GET',
          success: function(data) {
              // Inicia a tarefa e obtém o ID da tarefa
              // var task_id = data.task_id;
              
              // Função para verificar o progresso da tarefa
              function checkProgress() {
                  $.ajax({
                      url: 'check-progres/?task_id=' + task_id,
                      type: 'GET',
                      success: function(data) {
                          if (data.state == 'SUCCESS') {
                            var progress = data.progress;
                            $('#progress-text').text('Progresso: Fim');
                          } else {
                              // Tarefa ainda em andamento, atualize a barra de progresso
                              var progress = data.progress;
                              $('#progress-text').text('Progresso: ' + progress);
                          }
                      },
                      complete: function() {
                          // Continue verificando o progresso a cada intervalo
                          setTimeout(checkProgress, 1000);
                      }
                  });
              }
              
              // Inicia a verificação do progresso da tarefa
              checkProgress();
          }
      });
  });
});
            
                          </script> {% endcomment %}
              
              
                {% comment %} <script>
                  var socket = new WebSocket("ws://{{ request.get_host }}/progress/");

                  socket.onmessage = function(event) {
                      var data = JSON.parse(event.data);
                      console.log(data.message);
                  };

                  socket.onclose = function(event) {
                      console.log("Conexão fechada.");
                  };
                </script> {% endcomment %}                          

{% endblock %}