{% extends 'galeria/base.html' %}

{% load static %}
{% block content %}



{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Campo para selecionar várias imagens -->
    <br>
    
    
</form> {% endcomment %}

<style>
    .loading-icon {
      width: 20px;
      height: 20px;
      border: 3px solid #ccc;
      border-radius: 50%;
      border-top-color: #333;
      animation: spin 1s linear infinite;
      margin-right: 10px;
      display: inline-block;
    }

    @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
</style>


<div class="card">
    <div class="card-header">
        <h5>Imagens do Curso: {{ request.session.nome_curso }}  </h5>
    </div>
    <div class="card-body form-group">
        <p>&nbsp;</p>
        <form method="post" enctype="multipart/form-data" id="form">
            {% csrf_token %}
            <div class="row form-group my-3">
                <div class="col-12 col-lg-6 text-center">
                    <label for="id_imagem">Imagens:</label>
                    <input type="file" id="id_imagem" name="imagem" multiple required class="form-control">

                    <p>&nbsp;</p>
                    <label class="small" id="class_prof_label" for="class_prof">Classificação Professor (opcional)</label>
                    <select name="class_prof" id="class_prof" class="form-select">
                    <option value=""></option>
                    <option value="Normal">Normal</option>
                    <option value="Normal Esperado">Normal Esperado</option>
                    <option value="IDA Mono">Monocromático</option>
                    <option value="IDA Cópia">Cópia</option>
                    <option value="IDA Cópia Web">Cópia Web</option>
                    </select>

                    <p>&nbsp;</p>
                    <a class="btn btn-secondary" href="/galeria-list/{{ request.session.id_curso }}">Cancelar</a>
                    <input type="submit" value="Enviar" class="btn btn-success">
                    <div class="loading-icon" style="display: none" id="divloadicon"></div>
                </div>
                
                {% comment %} <div class="progress">
                    <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> {% endcomment %}
            </div>
        </form>
    </div>
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("form");
        var mensagem = document.getElementById("divloadicon");
    
        form.addEventListener("submit", function(event) {
            // Exibe a div de mensagem
            mensagem.style.display = 'inline-block';;
            
            // Permite que a ação de submissão do formulário prossiga
            // Se você deseja evitar que o formulário seja submetido, retorne false aqui
            // Exemplo:
            // event.preventDefault();
    
            // Se você deseja permitir que o formulário seja submetido, não retorne nada ou retorne true
            // Exemplo:
            // return true;
        });
    });
    </script>


{% comment %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    console.log('teste');


    document.getElementById('form').addEventListener('submit', function(event) {
        event.preventDefault();
        var files = document.getElementById('id_imagem').files;
    
        var totalFileSize = 0;
        for (var i = 0; i < files.length; i++) {
            totalFileSize += files[i].size; // Calcula o tamanho total dos arquivos
        }
        console.log('Total de bytes dos arquivos selecionados para envio:', totalFileSize);
    
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append('imagem[]', files[i]);
        }
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', event.target.action, true);
    
        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                console.log('Total de bytes enviados:', e.loaded);
            }
        };
    
        xhr.onload = function() {
            if (xhr.status === 200) {
                console.log('Todos os arquivos foram enviados com sucesso.');
            } else {
                console.error('Erro ao enviar arquivos:', xhr.statusText);
            }
        };
    
        xhr.onerror = function() {
            console.error('Erro de rede ao enviar arquivos.');
        };
    
        xhr.send(formData);
    });
    
    
    
    
    


        
    </script>
     {% endcomment %}

    

    



    

{% endblock %}
